<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PDFDetail">

    <resultMap type="PDFDetail" id="PDFDetailMap">
        <result property="fileName" column="file_name"/>
        <result property="fileUrl" column="file_url"/>
        <result property="moduleId" column="module_id"/>
    </resultMap>


    <insert id="insertList" parameterType="java.util.HashMap">
        INSERT INTO tbl_file(file_name,file_url,module_id)
        VALUES
        <foreach collection="list" item="pdfDetail" separator=",">
            (#{pdfDetail.fileName},#{pdfDetail.fileUrl},#{pdfDetail.moduleId})
        </foreach>
    </insert>

    <select id="getPDFlist" parameterType="java.lang.String" resultMap="PDFDetailMap">
        SELECT * FROM
          tbl_file
        WHERE
          module_id = #{moduleId}
    </select>
</mapper>