@font-face {
    font-family: 'iconfont';  /* project id 588478 */
    src: url('//at.alicdn.com/t/font_588478_cg2hoasjpjtyy14i.eot');
    src: url('//at.alicdn.com/t/font_588478_cg2hoasjpjtyy14i.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_588478_cg2hoasjpjtyy14i.woff') format('woff'),
    url('//at.alicdn.com/t/font_588478_cg2hoasjpjtyy14i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_588478_cg2hoasjpjtyy14i.svg#iconfont') format('svg');
}

.news_search{ padding:10px 10px; }
.news_search .layui-inline{ margin:5px 5px 5px 0; }
.layui-table,.layui-table th{ text-align:center; }
.layui-table th{ color:#333;font-size: 15px; }
.news_list .layui-btn,.news_list .layui-btn+.layui-btn{ margin:2px 5px; }
.news_list .layui-form-switch{ margin-top:0; }

/*分页*/
#page{ text-align:right; }
.closeTab{margin-left: calc(100% - 40px);margin-top: -30px;cursor: pointer;}

.layui-table-cell {height: 38px !important;line-height: 38px !important;}
/*.disLayer{padding:10px;}
.disLayer span{display:flex;height:25px;line-height:25px;border-bottom:1px solid #ccc}
.disLayer image{width:100px;height:100px;margin-top:10px;}*/

/*html{background: #f6f6f6;}*/
/*body{margin:10px;box-shadow: 0px 1px 0px #ccc;}*/
.listPage{width: calc(100% - 198px); margin: 16px 0 0 24px;background: white;}
/*.layui-table-view {width: calc(100% - 40px);margin-left: 20px;}*/
.layui-table-box, .layui-table-view {background:#fff}
/*.layui-tab-item {background-color: #f3f3f4;}*/
.layui-table thead tr{border-top: 4px solid #e7eaec;background-color: #f2f2f2;}

.childrenBody{width: 100%;height: 100%;background: #F7F8F7;}
.headText{height: 39px;background: white;}
.headText>p{float: left;font-size: 18px;font-weight: bold;color: rgba(0,0,0,0.72);line-height: 39px;margin-left:24px;}
.progressContent{float: right;width:calc(100% - 418px);height: 100%;}
.progressContent>h2{float:left;font-size: 14px;color: rgba(0,0,0,0.72);line-height: 39px;font-weight: bold;}
#demoPercent{float: left;width:calc(100% - 116px);margin-left:8px;margin-top:12px;height: 18px;text-align: right;font-size: 14px;color: rgba(0,0,0,0.72);padding-right: 5px;}
#demoPercent>div{background-image: linear-gradient(-90deg, #1FE978 0%, #21D5CB 100%)!important;}
.layui-table-view{margin: 0;}